
body {
	margin-top: 75px;
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	font-size: 15px;
}

h1 {
	margin: 0 0 40px 0;
}

h2 {
	font-size: 20px;
	margin: 0 0 10px 0;
}

footer {
	margin: 10px 0;
	font-size: 10px;
}

p {
	margin: 10px 0;
	text-align: justify;
}

.post-list-item {
	margin-bottom: 40px;
}

#intro {
	margin: 0 0 40px 0;
}

#right-panel {
	font-size: 14px;
}

#comments, #comments li {
    margin: 0;
    padding: 0;
}

#comments li {
    list-style: none;
}

.photo {
	margin-bottom: 10px;
}

.social-buttons button {
	margin-top: 5px;
}

.right-panel-ad {
	height: 252px;
}

.list li {
	margin: 10px 0;
}
