<article>
  <h1><a href="$url$">$title$</a></h1>

      <div class="row">
          <!--
          <div class="col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href="#">Signs</a>
            &nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>, <a href="#">Fire</a>, <a href="#">Mars</a>
          </div>
          -->
          <div class="col-sm-6 col-md-6">
            <!-- <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
            &nbsp;&nbsp; --><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp; $date$
          </div>
        </div>

        <!-- <img src="/images/antiporno.svg" class="img-responsive"> -->

        <br />

        $if(lead)$
        <p class="lead">$lead$</p>
        $endif$


        <p>$body$</p>

        <br />

        <div id="disqus_thread"></div>
        <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'wwwantipornosk';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</article>
