<!-- Posledné články -->
<div class="panel panel-default" id="right-panel">
  <div class="panel-heading">
    <h4>Posledné články</h4>
  </div>
  <ul class="list-group">
    $for(rawPosts)$
    <li class="list-group-item"><a href="$url$">$title$ - $date$</a></li>
    $endfor$
  </ul>
</div>

<!-- reklama -->
<div class="panel panel-default right-panel-ad">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- right -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-8052709044813437"
       data-ad-slot="9929864101"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
